.WB_url, .source { color: #006996; cursor: pointer;}

.call_user, .topics { color: #0075a8; cursor: pointer;}
.lower_url { color: #0075a8; word-wrap: break-word; word-break: normal; }

.timeline_outbox { margin: auto; width: 290px; padding: 0 5px 0 5px;}
.timeline { width: 280px; height:200px; }
.split_line {width: 280px; float: left; margin: 10px 0 12px 0; border-top: 1px dashed #d6d6d6;}
.message {position: relative;}
.message .profile_image {
    float: left;
    width:20px;
    cursor: pointer;
    border: 1px solid #fff;
    -webkit-box-shadow:1px 1px 1px #b2b7bc, -1px -1px 1px #b2b7bc;
    -moz-box-shadow:1px 1px 1px #b2b7bc, -1px -1px 1px #b2b7bc;
    box-shadow:1px 1px 1px #b2b7bc, -1px -1px 1px #b2b7bc;
}

.message .profile_image:hover {
    border: 1px solid #00aeff;
}

.message .content {float: right; width: 250px;}
.content .username {
    line-height: 26px;
    font-size: 16px;
    dislpay: block;
    color: #49494a;
    cursor: pointer;
}
.content .text { display: block; margin-top: 5px; color: #242525; }
.content .thumbnail {margin-top: 5px; cursor: pointer; display: block; }

.message .info { margin-top: 10px; float:left;}
.info .created_at { color: #7b7b7b;}

.message .action {
	float: right;
	margin-top : 10px;
}

.message .action div { display: inline-block;  cursor: pointer; padding-right: 5px;}

.action .line_split { color: #d6d6d6;}
.action span { font-size: 10px; color: #7b7b7b; text-align: left;}

.action .repost {
	background: url(../img/reply_normal.png) no-repeat;
	width: 15px;
	height: 8px;
}
.action .repost:hover {
	background: url(../img/reply_hover.png) no-repeat;
}

.action .comment {
	background: url(../img/comment_normal.png) no-repeat;
	width: 15px;
	height: 8px;
}
.action .comment:hover {
	background: url(../img/comment_hover.png) no-repeat;
}


.content .retweeted {
	border-radius: 2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;	
	border: 1px solid #d6d6d6;
	/* height: 30px; */
	float: right;
	margin: 10px 0 10px 0;
	background-color: #fafafa;
	width: 240px;
	padding: 5px;
}

.retweeted .ret_name {
    color: #006996;
    cursor: pointer;
}

.retweeted .ret_text {
	/* display: inline; */
	/* float: left; */
}

.retweeted .prompt {margin-top: 5px;}

.reposts_prompt, .comments_prompt {
	color: #006996;
	cursor: pointer;
}

.reposts_count, .comments_count{
	margin-right: 10px;
    color: #49494a;
}

